node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env

# Ignore uploaded PDFs but keep directory
public/uploads/pdf/*
public/uploads/pdfs/*
public/uploads/images/*
!public/uploads/pdf/.gitkeep
