/* PDF Viewer specific styles */
.pdf-document {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-document .react-pdf__Page {
  max-height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.pdf-document .react-pdf__Page__canvas {
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
}

/* We're no longer using this constraint since we're using the max-w-screen-lg class */
/* .pdf-dialog-content {
  width: 100%;
  max-width: 800px !important;
} */
